.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--darkblue);
    min-height: calc(100vh - 6rem);

    .divider {
        background: var(--red-500);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: calc(50vh - 6rem);
        width: 100%;

        p {
            width: 40%;
            text-align: center;
            color: var(--gray-100);
            margin-top: 0.5rem;
        }
    }

    form {
        background: #e9ecef;
        display: flex;
        flex-direction: column;
        margin-top: -14rem;
        border-radius: 1rem;
        padding: 1rem 0;
        width: 28rem;

        .header {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem 5rem;
            border-bottom: 1px solid var(--border);

            span {
                color: var(--gray-200);
                font: 500 1.2rem Lexend, sans-serif;
            }

            div {
                display: flex;
                margin-top: 1rem;
                gap: 1rem;
     
                button {
                    background: var(--white);
                    border: 1px solid transparent;
                    display: flex;
                    align-items: center;
                    box-shadow: var(--shadow);
                    transition: filter 200ms;
                    gap: 1rem;
                    padding: 0.7rem 1.2rem;
                    border-radius: 0.5rem;

                    &:hover {
                        filter: brightness(0.9);
                    }

                    span {
                        color: var(--red-500);
                    }
                }
            }
        }

        .divInput {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2rem;

            span {
                color: var(--gray-200);
                font: 500 1.2rem Lexend, sans-serif;
            }

            div {
                display: flex;
                align-items: center;
                background: var(--white);
                padding-left: 1rem;
                height: 3.5rem;
                width: 100%;
                border-radius: 0.2rem;
                margin-top: 1rem;
                box-shadow: var(--shadow);
                gap: 1rem;

                input {
                    border: none;
                    background: transparent;
                    flex: 1;
                    padding-left: 1rem;
                    font-size: 1.1rem;
                    outline: 0;
                    border-left: 1px solid var(--gray-200);
                    
                    &::placeholder {
                        color: var(--gray-200);
                    }
                }
            }
        }
    
        .checkbox {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            padding-left: 2rem;
            
            input {
                width: 1rem;
                height: 1rem;
            }

            span {
                color: var(--gray-200);
            }
        }

        .button {
            display: flex;
            justify-content: flex-end;
            padding-right: 2rem;
            margin-top: 1rem;

            button {
                background: var(--red-500);
                border: none;
                color: var(--white);
                padding: 0.8rem 1.5rem;
                border-radius: 0.3rem;
                font-size: 1.1rem;
            }
        }

    }

    .links {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        width: 28rem;

        a {
            color: var(--gray--50);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}