.dashboard {
    height: calc(100vh - 6rem);

    .path {
        display: flex;
        flex-direction: column;
        background: var(--red-500);
        height: 30rem;

        .infoAmount {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            margin: 2rem 2rem 0 2rem;
            grid-gap: 2rem;
            z-index: 999;
            
            div {
                background: var(--white);
                border-radius: 1rem;
                padding: 0.5rem;

                .topRow {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        display: flex;
                        flex-direction: column;

                        span, p {
                            font: 500 1.2rem Lexend, sans-serif;
                            color: var(--gray-500);
                        }
        
                        p {
                            font-size: 1.7rem;
                            color: var(--gray-800);
                        }
                    }

                    .iconBall {
                        width: 4rem;
                        height: 4rem;
                        background: var(--orange-500);
                        border-radius: 2rem;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }

                .bottomRow {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    div {
                        display: flex;
                        align-items: center;
                    }

                    span {
                        font: 500 1.2rem Lexend, sans-serif;     
                        color: var(--gray-800);                
                    }
                }
            }
        }
    }
}

@media(max-width: 1600px) {
    .dashboard {
        .path {
            height: 40rem;

            .infoAmount {
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}

@media(max-width: 970px) {
    .dashboard {
        .path {
            height: 100vh;

            .infoAmount {
                grid-template-columns: 1fr;
            }
        }
    }
}



