.user {
    height: calc(100vh - 6rem);
    overflow-y: scroll;
    
    h1 {
        color: black;
    }    
}



@media(min-width: 1500px) {
    .user {
        display: grid;
        grid-template-columns: 65% 35%;
    }

    .profile {
        min-height: 40%;
        margin: 3rem 1rem 3rem 0;

        div {
            margin-top: -1rem;
        }
    }
}