.user {
    height: calc(100vh - 16rem);
    padding: 0 2rem;
    overflow-y: scroll;
    background: var(--gray-100);
    position: relative;
    
    h1 {
        color: black;
    }    

    form {
        background: var(--white);
        height: 50rem;
        z-index: 999;
        position: absolute;
        top: -25rem;
    }
}




@media(min-width: 1500px) {
    .user {
        display: grid;
        grid-template-columns: 65% 35%;
    }

    .profile {
        min-height: 40%;
        margin: 3rem 1rem 3rem 0;

        div {
            margin-top: -1rem;
        }
    }
}