.sidebarContainer {
    height: 100vh;
    width: 18rem;
    background-size: cover;

    ul {
        margin: 1rem;
        z-index: 2;
        position: relative;
    }
    
    li {
        padding: 1.1rem 1rem;
        list-style-type: none;
        border-radius: 0.4rem;
    }
}

.backgroundTransparent {
    height: 100vh;
    width: 18rem;
    z-index: 1;
    position: absolute;
    background: var(--black-light);
}

.title {
    margin: 0 1rem;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid var(--gray-200);
    z-index: 2;
    position: relative;

    h2 {
        color: var(--white);
    }
}


